.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
padding: 15px;
box-shadow: 5px 5px 35px lightcoral;
font-family: 'Courgette', cursive;
}

.copy_right_footer{
    background-color: grey;
    text-align: center;
    position: fixed ;
    bottom: 0;
    font-size: 22px;
    padding: 10px;
    color: white;
    font-family:'Times New Roman';
    font-weight: bold;
    font-style:oblique;
    text-shadow:2px 2px steelblue;
    box-shadow: 5px 5px 35px red;
    width: 100%;
  }

  body{
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    font-size: 22px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow: 3px 3px 20px lightcoral;
}